" Inspired by Sebastian Daschner
" https://www.youtube.com/watch?v=SDiKLLrUZMI

set number relativenumber

" disable autorefacoring
set idearefactormode=keep

" enable idea code formatting feature
set ideajoin
" surround.vim plugin
" ds" - delete surrounding quotes
" ysiw" - surround inner word with quotes
set surround

" required IdeaVim-EasyMotion + AceJump IDEA plugins and easymotion plugged itself
set easymotion

" set leaderKey to "space"
let mapleader = " "

" insert lines
" shift + enter will insert a line above the current one and return the cursor to normal mode.
nmap <S-Enter> O<Esc>
" shift will insert a line below the current one and return the cursor to normal mode.
nmap <CR> o<Esc>

" ctrl + j will move current string on 1 line below
nnoremap <C-j> :m +1<CR>
" ctrl + k will move current string on 1 line above
nnoremap <C-k> :m -2<CR>
" ctrl + j but in insert mode
inoremap <C-j> <Esc>:m +1<CR>gi
" ctrl + k but in insert mode
inoremap <C-k> <Esc>:m -1<CR>gi

" copy/paste
" copy selected into system buffer
vmap <leader>y "*y
" delete and copy into system buffer
vmap <leader>d "*d
" paste from system buffer before cursor
vmap <leader>p "*p
" paste from system buffer after cursor
vmap <leader>P "*P
" copy entire line into system buffer
nmap <leader>y "*yy
" paste from system buffer before cursor
nmap <leader>p "*p
" paste from system buffer after cursor
nmap <leader>P "*P

" tabs
nmap <leader>h <action>(PreviousTab)
nmap <leader>l <action>(NextTab)

" generate code window
nmap <leader>i <action>(Generate)

" git window
nmap <leader>m <action>(Git.Menu)

" errors
nmap <leader>/ <action>(ShowErrorDescription)
nmap <leader>e <action>(GotoNextError)

" buffers
nmap <leader><leader> <action>(Switcher)
nmap <leader>v <action>(SplitVertically)
nmap <leader>f <action>(GotoFile)
nmap <leader>q <action>(CloseContent)

" scrolling
nmap <leader>d <C-d>
nmap <leader>u <C-u>
vmap <leader>d <C-d>
vmap <leader>u <C-u>

" easymotion
Plug 'easymotion/vim-easymotion'
nmap <Leader>J <Plug>(easymotion-s)
nmap <Leader>j <Plug>(easymotion-f)

" nerdtree
Plug 'preservim/nerdtree'
nmap <leader>n :NERDTreeToggle<CR>
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'